@using demoTraining.Models
@model IEnumerable<demoTraining.Models.Topic>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Topics</h2>
@if (User.IsInRole("Staff"))
{
<p>
    @Html.ActionLink("Create New Topic", "Create", null, new { @class = "btn btn-default" })
</p>
}

<table class="table table-striped">
    <tr>
        <th>
            Topic Name
        </th>
        <th>
            Topic Description
        </th>
        @if (User.IsInRole("Staff"))
        {
            <th>
                Action
            </th>
        }
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TopicName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TopicDescription)
    </td>
    @if (User.IsInRole("Staff"))
    {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.TopicID }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Details", "Details", new { id = item.TopicID }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.TopicID }, new { @class = "btn btn-danger" })
        </td>
    }
</tr>
}

</table>
