@model IEnumerable<demoTraining.Models.TrainerEnrollment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>List of Trainer's Enrollments</h2>
<p>
    @Html.ActionLink("Create New Enrollment for Trainer", "Create", null, new { @class = "btn btn-default" })

    @Html.ActionLink("Enroll for Trainee", "Index", "TraineeEnrollments", null, new { @class = "btn btn-default" })
</p><p>
</p>
<table class="table">
    <tr>
        <th>
            Topic Name
        </th>
        <th>
            Trainer Name
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Topic.TopicName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trainer.TrainerName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TrainerEnrollmentID }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Details", "Details", new { id=item.TrainerEnrollmentID }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TrainerEnrollmentID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
