@model IEnumerable<demoTraining.Models.Trainer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Trainers</h2>

<p>
    @Html.ActionLink("Create New Trainer", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            Trainer Name
        </th>
        <th>
            DoB
        </th>
        <th>
            Email
        </th>
        <th>
            Trainer Name
        </th>
        <th>
            Action
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TrainerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainerEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainerPhone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TrainerID }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Details", "Details", new { id=item.TrainerID }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TrainerID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
