@model IEnumerable<demoTraining.Models.TrainerEnrollment>

@{
    ViewBag.Title = "MyCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MyCourse</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new{@class="btn btn-default"})
</p>
<table class="table">
    <tr>
        <th>
            Trainer Name
        </th>

        <th>
            Topic
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Trainer.TrainerName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Topic.TopicName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.TrainerID}, new{@class="btn btn-warning"})
            @Html.ActionLink("Details", "Details", new {id = item.TrainerID}, new{@class="btn btn-success"}) 
            @Html.ActionLink("Delete", "Delete", new {id = item.TrainerID}, new{@class="btn btn-danger"})
        </td>
    </tr>
}

</table>
