@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOut", "Authen", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        
        if (User.IsInRole("Trainee"))
        {
            @Html.Partial("_TraineeMenu");
        }
        else if (User.IsInRole("Trainer"))
        {
            @Html.Partial("_TrainerMenu");
        }
        else if (User.IsInRole("Admin"))
        {
            @Html.Partial("_AdminMenu");
        }
        else if (User.IsInRole("Staff"))
        {
            @Html.Partial("_StaffMenu");
        }
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Authen", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Authen", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}