@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOut", "Authen", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        
        if (User.IsInRole("Trainee"))
        {
            @Html.Partial("_TraineeMenu");
        }
        else if (User.IsInRole("Trainer"))
        {
            @Html.Partial("_TrainerMenu");
        }
        else if (User.IsInRole("Admin"))
        {
            @Html.Partial("_AdminMenu");
        }
        else if (User.IsInRole("Staff"))
        {
            @Html.Partial("_StaffMenu");
        }
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink(" LogIn", "Login", "Authen", routeValues: null, htmlAttributes: new { id = "loginLink", @class="glyphicon glyphicon-log-in" })</li>*@
        <div class="navbar-right">
            <a href="@Url.Action("Login", "Authen")" class="btn btn-default" style="margin-top: 9px" >
                LogIn
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
            </a>
        </div>
        
    </ul>
}