@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "_StaffMenu";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav navbar-nav navbar-right">
    <li>
        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Profile", "Staffs", routeValues: null, htmlAttributes: new { title = "Profile" })
    </li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()" ><span class="glyphicon glyphicon-off"></span> Log Off</a></li>
</ul>

<ul class="nav navbar-nav navbar-right ">
    <li>@Html.ActionLink("Topic", "Index", "Topics")</li>
    <li>@Html.ActionLink("Course", "Index", "Courses")</li>
    <li>@Html.ActionLink("Enrollment", "Index", "TraineeEnrollments")</li>
    <li>@Html.ActionLink("Category", "Index", "Categories")</li>
    <li>@Html.ActionLink("Trainer", "Index", "Trainers")</li>
    <li>@Html.ActionLink("Trainee", "Index", "Trainees")</li>
</ul>
