@model IEnumerable<demoTraining.Models.Trainee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TraineeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TraineeEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Education)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProgrammingLanguage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToeicScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TraineeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TraineeEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Education)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProgrammingLanguage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToeicScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TraineeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TraineeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TraineeID })
        </td>
    </tr>
}

</table>
