@using demoTraining.Models
@model IEnumerable<demoTraining.Models.TraineeEnrollment>

@{
    ViewBag.Title = "MyCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MyCourse</h2>


<table class="table">
    <tr>
        <th>
            Course Name
        </th>
        <th>
            Trainee Name
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Course.CourseName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Trainee.TraineeName)
    </td>
    @if (User.IsInRole("Staff"))
    {
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.TraineeEnrollmentID}, new {@class = "btn btn-warning"})
            @Html.ActionLink("Details", "Details", new {id = item.TraineeEnrollmentID }, new {@class = "btn btn-primary"})
            @Html.ActionLink("Delete", "Delete", new {id = item.TraineeEnrollmentID }, new {@class = "btn btn-danger"})
        </td>
    }
</tr>
}

</table>
