@model IEnumerable<demoTraining.Models.TraineeEnrollment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create",null, new {@class ="btn btn-default"})

@Html.ActionLink("Enroll for Trainer","Index",null, new {@class = "btn btn-default" })</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th>
            <p>Course Name</p>
        </th>
        <th>
            <p>Trainee Name</p>
        </th>
        <th>
            <p>Action</p>
        </th>
    </tr>
    </thead>
    
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trainee.TraineeName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.TraineeEnrollments}, new {@class = "btn btn-warning"}) 
                @Html.ActionLink("Details", "Details", new {id = item.TraineeEnrollments}, new {@class = "btn btn-primary"}) 
                @Html.ActionLink("Delete", "Delete", new {id = item.TraineeEnrollments}, new {@class = "btn btn-danger"})
            </td>
        </tr>
    }
    </tbody>
    

</table>
