@using System.Web.UI.WebControls
@model IEnumerable<demoTraining.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Categories</h2>
@using (Html.BeginForm())
{
    if (User.IsInRole("Staff"))
    {
        @Html.ActionLink("Create New Category", "Create", null, new {@class = "btn btn-default"})
    }
    <div class="form-group navbar-right">

        @Html.TextBox("SearchString", null,new { @class = "form-control", placeholder = "Search" })
    </div>

    <button class="btn btn-default navbar-right" type="submit"><span class="glyphicon glyphicon-search"></span></button>
}



<table class="table">
    <tr>
        <th>
            Category Name
        </th>
        <th>
            Category Description
        </th>
        @if (User.IsInRole("Staff"))
        {
            <th>
                Action
            </th>
        }
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryDescription)
        </td>
        @if (User.IsInRole("Staff"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.CategoryID}, new {@class = "btn btn-warning"}) |
                @Html.ActionLink("Details", "Details", new {id = item.CategoryID}, new {@class = "btn btn-success"}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.CategoryID}, new {@class = "btn btn-danger"})
            </td>
        }
    </tr>
}

</table>
